*desktop.ini
Thumbs.db

*.log
*.tmp
*.temp
app/Cubo/log/*
!app/Cubo/log/.gitkeep
app/Cubo/tmp/
app/Cubo/cache/
app/Cubo/sessions/

/vendor/
/app/Cubo2/vendor/
coverage/
node_modules/
dist/
build/

# resultdos de testes
.phpunit.cache/
.phpunit.result.cache

#claude
/.claude
CLAUDE.md

# app/Netflex/models_v2
connections.json
schema-core.json
custom-report.md

toDo/
